{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Регистрация{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Пользователь</label>
    <input name="username" id="username" required>

    <label for="password">Пароль</label>
    <input type="password" name="password" id="password" required>

    <label for="organization">Организация</label>
    <input type="organization" name="organization" id="organization">

    <label for="email">Адрес электронной почты</label>
    <input type="email" name="email" id="email">

    <label for="phone_mob">Номер телефона (мобильный)</label>
    <input type="phone_mob" name="phone_mob" id="phone_mob">

    <label for="phone">Номер телефона</label>
    <input type="phone" name="phone" id="phone">

    <label for="position">Должность</label>
    <input type="position" name="position" id="position">

    <label for="title">Звание</label>
    <input type="title" name="title" id="title">

    <input type="submit" value="Зарегистрироваться">
  </form>
{% endblock %}
