<!-- base.html:  // 2023-07-23..2023-09-20, 2023-11-15 /A @work -->
<!doctype html>
<title>{% block title %}{% endblock %} - НМИЦ АиР</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>

<table style="height: 90px; width: 100%; border-collapse: collapse;" border="0">
  <tbody>
    <tr style="height: 30px;">
      <!-- <td style="width: 7.0%; height: 60px;" rowspan="2"><a href="https://www.sechenov.ru/"><img src="https://www.sechenov.ru/upload/DropMeFiles_abtp8/logo-sechenov-new-itog-04.png" alt="" width="60" height="60" /></a></td> -->
      <td style="width: 7.0%; height: 60px;" rowspan="2"><a href="https://www.sechenov.ru/"><img src="/static/sech_logo_short_png.png" alt="" width="60" height="60" /></a></td>
      <td style="width: 40.0%; height: 30px; vertical-align: bottom;"><a href="https://www.sechenov.ru/">ФГАОУ ВО Первый МГМУ им. И.М.Сеченова</a></td>
      <!-- <td style="width: 7.0%; height: 60px;" rowspan="2"><a href="{{ url_for('index') }}"><img src="/static/logo_png.png" alt="" width="80" height="60" /></a></td> -->
      <td style="width: 7.0%; height: 60px;" rowspan="2"><a href="{{ url_for('index') }}"><img src="/static/logo_short_png.png" alt="" width="80" height="60" /></a></td>
      <td style="width: 36.0%; height: 30px; vertical-align: bottom;"><a href="{{ url_for('index') }}">НМИЦ анестезиологии и реаниматологии</a></td>
      {% if g.user %}
        <td style="width: 10%; height: 30px; text-align: right; vertical-align: bottom;"><a href="{{ url_for('auth.logout') }}">Выход</a></td>
      {% else %}
        <td style="width: 10%; height: 30px; text-align: right; vertical-align: bottom;"><a href="{{ url_for('auth.login') }}">Вход</a></td>
      {% endif %}
    </tr>
    <tr style="height: 30px;">
      <td style="width: 38.0%; height: 30px; vertical-align: top;"><a href="https://www.sechenov.ru/">Минздрава РФ (Сеченовский Университет)</a></td>
      <td style="width: 38.0%; height: 30px; vertical-align: top;"><a href="{{ url_for('index') }}">(для взрослых)</a></td>
      {% if g.user %}
        <td style="width: 10%; height: 30px; text-align: right; vertical-align: top;">{{ g.user['username'] }}</td>
      {% else %}
        <td style="width: 10%; height: 30px; text-align: right; vertical-align: top;"><a href="{{ url_for('auth.register') }}">Регистрация</a></td>
      {% endif %}
    </tr>
    <tr style="height: 30px; border-style: dashed; border-color: 444444;">
      <td style="width: 7.0%; height: 30px; text-align: center; vertical-align: center;"><a href="{{ url_for('nmic') }}">НМИЦ</a></td>
      <td style="width: 40.0%; height: 30px; text-align: left; vertical-align: center;"><a href="{{ url_for('oaim') }}">Отдел анализа и мониторинга</a></td>
      <td style="width: 40.0%; height: 30px; text-align: left; vertical-align: center;" colspan=2><a href="{{ url_for('oopn') }}">Отдел образовательных программ и науки</a></td>
      <td style="width: 13.0%; height: 30px; text-align: right; vertical-align: center;"><a href="{{ url_for('index') }}">debug</a></td>
    </tr>
  </tbody>
</table>

</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
